Notebook filter=lfs diff=lfs merge=lfs -text
report/Marketing[[:space:]]campaign[[:space:]]Notebook.rar filter=lfs diff=lfs merge=lfs -text
report/Assignment_3_Marketing.ipynb filter=lfs diff=lfs merge=lfs -text
